header {
    background-color: #66d4f3;
    color: #004a5f;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h1 {
    font-size: 26px;
}

.btn-signout {
  border: 1px solid #004a5f;
  border-radius: 5px;
  padding: 10px;
  background-color: #66d4f3;
  color: #004a5f;
  /* Config for icons */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
  &:hover {
    cursor: pointer;
    background-color: #004a5f;
    color: #ffffff;
  }
}
