.step-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.step-timeline {
    width: 30px;
    display: flex;
    justify-content: center;
}

.line {
    width: 3px;
    display: flex;
    justify-content: center;
    /* TODO: Talvez tenha que alterar a medida que o card cresça */
    padding: 12px 0;
}

.status {
    border-radius: 50px;
    height: 10px;
    width: 30px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
}

.step-card-container {
    padding: 12px;
    border: 1px solid var(--foreground);
    border-radius: 5px;
    width: 100%;
}

.step-card-container h3 {
    margin-bottom: 6px;
}

.step-card-container p {
    font-size: 16px;
    margin-bottom: 10px;
}

.step-card-container span {
    font-size: 14px;
    display: flex;
    gap: 4px;
}

.step-card-container span a {
    color: #098cb1;
    text-decoration: underline;
}

.step-completed {
    text-decoration: line-through;
}

.step-icon-container {
    position: absolute;
    cursor: pointer;
}

.step-progress-icon {
    background-color: var(--background);
}

.step-progress-icon-done {
    font-size: 28px;
    color: #4BB543;
}

.step-progress-icon-progress {
    font-size: 32px;
    color: var(--foreground);
}