.new-roadmap-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #004a5f;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px 10px 10px;
}

.input-form {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.input-check-form {
    display: flex;
    gap: 3px;
    margin-top: 5px;
}

.input-form-aggregator {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
    width: 100%;
}

.aggregator-item {
    width: 30%;
}

.experience-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.experience-container span {
    padding: 8px 10px;
    border: 1px solid #004a5f;
    border-radius: 5px;
}

.input-form-inline-field {
    display: flex;
    gap: 5px;
}

.form-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 15px;
}

@media (max-width: 770px) {
    .form-actions {
        justify-content: space-between;
    }
}