.new-roadmap-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #004a5f;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0 10px 10px 10px;
}

.input-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.input-form-aggregator {}

.btn-add-xp {
    width: 160px;
}

.input-form-inline-field {
    display: flex;
    gap: 2px;
}

.form-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 15px;
}

@media (max-width: 770px) {
    .form-actions {
        justify-content: space-between;
    }
}
