.modal {
    /* TODO: Se sobrar tempo, ajustar breakpoint para o mobile */
    width: 320px;
    background: #ffffff;
    color: #004a5f;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;

    /* Centraliza */
    margin: 0 auto; 
    padding: 20px;
    width: 60%;
    margin-top: 10%;
}

.modal::backdrop {
    background: rgba(0, 0, 0, .7);
}